@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

/* Spaceship Loading Container */
.spaceship-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh; /* Dynamic viewport height for mobile */
  width: 100vw;
  background-color: #000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.spaceship-text {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
  color: #ffffff;
  letter-spacing: 2px;
  margin: 0;
}

.spaceship-body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -6px;
  animation: speeder 0.4s linear infinite;
}

.spaceship-body > span {
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

.spaceship-base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid #ffffff;
  border-bottom: 6px solid transparent;
}

.spaceship-base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  right: -110px;
  top: -16px;
}

.spaceship-base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid #ffffff;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.spaceship-face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.spaceship-face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #ffffff;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}

.spaceship-body > span > span:nth-child(1),
.spaceship-body > span > span:nth-child(2),
.spaceship-body > span > span:nth-child(3),
.spaceship-body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  animation: fazer1 0.2s linear infinite;
}

.spaceship-body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.spaceship-body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.spaceship-body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.spaceship-longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spaceship-longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #ffffff;
}

.spaceship-longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}

.spaceship-longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}

.spaceship-longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}

.spaceship-longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
